<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Veteran Connect</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <base href="/" />

    <link rel="stylesheet" href="/scripts/angular-material/angular-material.css">
    <link rel="stylesheet" href="/scripts/angular-google-places-autocomplete/src/autocomplete.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500italic,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/site.css" />
</head>

<body ng-controller="GlobalController as global" layout='column' layout-fill>
    <div class="nav" ng-controller="NavController as nav">
        <md-toolbar class="md-whiteframe-z1 navbar" style="background-color: #223140;">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-click="global.openLeftMenu()" ng-show="nav.status._id">
                    <md-icon md-font-icon="material-icon"> menu </md-icon>
                </md-button>
                <div layout='row' flex layout-align="center" class='navtitle'>
                    <h1 style="font-family: 'Fjalla One', sans-serif;"> VETERAN CONNECT </h1>
                </div>
                <!-- <md-button ng-show='nav.status._id' hide show-gt-sm ng-click="nav.logout()">
                        Log out
                    </md-button> -->
                <a ui-sref="Login">
                    <md-button class="md-raised" ng-show='!nav.status._id' hide show-gt-sm>
                        Login
                    </md-button>
                </a>
            </div>
        </md-toolbar>
        <div layout="row" flex>
            <md-sidenav layout="column" md-component-id="left" class="md-whiteframe-z2" ng-show="nav.status._id">
                <md-toolbar class="md-whiteframe-z1" style="background-color: #820805;">
                    <div class="md-toolbar-tools">
                        <div layout="row" flex layout-align="center">
                            <h1 style='font-style: italic;'>EVENTS</h1>
                        </div>
                    </div>
                </md-toolbar>
                <md-list>
                    <a ui-sref="Events">
                        <md-list-item>
                            <md-button layout='row' flex md-ink-ripple='#2E4359'>
                                <h3 style="font-style: italic;">BROWSE</h3>
                            </md-button>
                        </md-list-item>
                    </a>
                    <md-divider></md-divider>
                    <a ui-sref="Create Event">
                        <md-list-item>
                            <md-button layout='row' flex md-ink-ripple='#2E4359'>
                                <h3 style="font-style: italic;">CREATE</h3>
                            </md-button>
                        </md-list-item>
                    </a>
                    <md-divider></md-divider>
                    <md-toolbar class="md-whiteframe-z1" style="background-color: #820805;">
                        <div class="md-toolbar-tools">
                            <div layout="row" flex layout-align="center">
                                <h1 style='font-style: italic;'>MY EVENTS</h1>
                            </div>
                        </div>
                    </md-toolbar>
                    <a ui-sref="My Events">
                        <md-list-item>
                            <md-button layout='row' flex md-ink-ripple='#2E4359'>
                                <h3 style="font-style: italic;">MY EVENTS</h3>
                            </md-button>
                        </md-list-item>
                    </a>
                    <md-divider></md-divider>
                    <a ui-sref="Attending">
                        <md-list-item>
                            <md-button layout='row' flex md-ink-ripple='#2E4359'>
                                <h3 style="font-style: italic;">EVENTS I'M ATTENDING</h3>
                            </md-button>
                        </md-list-item>
                    </a>
                    <md-divider></md-divider>
                    <md-toolbar class="md-whiteframe-z1" style="background-color: #820805;">
                        <div class="md-toolbar-tools">
                            <div layout="row" flex layout-align="center">
                                <h1 style='font-style: italic;'>ACCOUNT</h1>
                            </div>
                        </div>
                    </md-toolbar>
                    <md-list-item>
                        <md-button layout='row' flex md-ink-ripple='#2E4359' ng-click="nav.logout()">
                            <h3 style="font-style: italic;">LOG OUT</h3>
                        </md-button>
                    </md-list-item>
                </md-list>
            </md-sidenav>
        </div>
    </div>
    <ui-view></ui-view>
    <footer>
        <div layout="row" layout-align="center center" class='md-padding'>
            <h2></h2>
        </div>
    </footer>
    <script src='/scripts/lodash/dist/lodash.min.js'></script>
    <script src="/scripts/moment/moment.js"></script>
    <script src="/scripts/angular/angular.min.js"></script>
    <script src="/scripts/angular-aria/angular-aria.js"></script>
    <script src='/scripts/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
    <script src='/scripts/angular-google-maps/dist/angular-google-maps.min.js'></script>
    <script src="/scripts/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/scripts/angular-resource/angular-resource.min.js"></script>
    <script src="/scripts/angular-animate/angular-animate.min.js"></script>
    <script src="/scripts/angular-messages/angular-messages.min.js"></script>
    <script src="/scripts/angular-material-datetimepicker/js/angular-material-datetimepicker.js"></script>
    <script src="/scripts/angular-touch/angular-touch.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1BQ3FFK7Duy1txHKHdF-aoDYOeYHFx_8&libraries=places"></script>
    <script src="/scripts/angular-google-places-autocomplete/dist/autocomplete.min.js"></script>
    <script src="/scripts/angular-material/angular-material.js"></script>

    <script src="/js/app.js"></script>
    <script src="/js/services/UserService.js"></script>
    <script src="/js/services/EventService.js"></script>
    <script src="/js/services/CommentService.js"></script>
    <script src="/js/services/AuthInterceptor.js"></script>
    <script src="/js/filters/truncate.js"></script>
    <script src="/js/controllers/HomeController.js"></script>
    <script src="/js/controllers/GlobalController.js"></script>
    <script src="/js/controllers/NavController.js"></script>
    <script src="/js/controllers/UserLoginController.js"></script>
    <script src="/js/controllers/UserRegistrationController.js"></script>
    <script src="/js/controllers/EventCreateController.js"></script>
    <script src="/js/controllers/MyEventController.js"></script>
    <script src="/js/controllers/EventUpdateController.js"></script>
    <script src="/js/controllers/EventsController.js"></script>
    <script src="/js/controllers/EventDetailsController.js"></script>
    <script src="/js/controllers/EventsAttending.js"></script>


</body>

</html>
