<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>CREATE YOUR EVENT</h1>
            <div class="row well col-md-offset-4" style="background-color: white; width: 600px;">
                <form class="form">
                    <h4>{{vm.place.name}}</h4>
                    <input class="form-control text-center" g-places-autocomplete options="vm.autocompleteOptions" ng-model="vm.place" placeholder="FIND SOMETHING LOCAL"/>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 well text-center" ng-show="vm.place">
            <h3 ng-show="!vm.date">Select a Date and Time</h3>
            <h3>{{vm.date | date: "short"}}</h3>
            <datetimepicker data-ng-model="data.date" data-on-set-time="vm.onTimeSet(newDate)" style="margin: 0 auto;"></datetimepicker>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4" ng-show="vm.date">
            <h3 class="text-center">Event Title</h3>
            <input type="text" placeholder="Drinks at The Watering Hole" ng-model="vm.event.title" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4"ng-show='vm.event.title'>
            <h3 class="text-center">Event Description</h3>
            <input type="text" placeholder="Talk about guns, sex, and drugs" ng-model="vm.event.description" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-5" ng-show="vm.event.description">
            <h3 class="text-center">Number of Guests</h3>
            <input type="number" class='form-control' min=2 max=99 style="width: 60px; margin: 0 auto;" ng-model="vm.event.numGuests">
            <button class="btn btn-success" ng-click="vm.create()">Create</button>
        </div>
    </div>
</div>


<!-- <div class="container">
    <div class="row">
        <div class="h1 text-center">Create your event</div>
    </div>
    <div class="row well">
        <form class="form">
            <input class="form-control" g-places-autocomplete options="vm.autocompleteOptions" ng-model="vm.place" placeholder="FIND SOMETHING LOCAL"/>
        </form>
        <form ng-show="vm.place">
            <div class="col col-md-12 col-sm-12 col-xs-12">
                <h3>{{vm.place.name}}</h3>
                <h3>{{vm.place.formatted_address}}</h3>
            </div>
        </form>
    </div>
</div>



<div class="container">
    <div class="col col-md-6 col-md-offset-3">
        <datepicker ng-click="dates()">
            <input ng-model="vm.date" class='form-control' >
        </datepicker>
    </div>
</div> -->

<!-- <form class="form">
    <input class="form-control" g-places-autocomplete ng-model="vm.place"/>
</form>

<h3>{{vm.place.address_components[0].short_name}} {{vm.place.address_components[1].short_name}}</h3>
<h3>{{vm.place.address_components[2].short_name}} {{vm.place.address_components[3].short_name}}</h3>
<h3>{{vm.place.address_components[5].short_name}}</h3>
-->
