<!--  HEADER FOR OP ORDER-->
<div layout="row" class="july" layout-padding layout-align="center center" ng-show="!vm.hide && !vm.event.name">
    <h3 style="color: white;">PLAN OUT THE OP ORDER</h3>
</div>
<!-- FORM FOR OP ORDER -->
<div layout="row" layout-align="center" ng-show="!vm.hide && !vm.event.name">
    <form layout="column" layout-gt-sm="row" flex-sm flex-xs layout-margin layout-padding layout-align="center" name="search" ng-submit="vm.hide=true">
        <!-- <i class="material-icons" hide-sm hide-xs>search</i> -->
        <md-input layout="column" layout-align="center" >
            <input type="text" ng-model="vm.event.title" placeholder="WHAT" maxlength="40" class="input-cust" flex-xs flex-sm>
            <p style="font-size: 12px;">e.g. "Grab food at Tina's Taco; Weights at the Gym"</p>
            <!-- <md-tooltip md-direction="bottom">
                "Grab some food at Tina's Taco"
            </md-tooltip> -->
        </md-input>
        <md-button class="july md-raised" type="submit" style="color: white;">
            Next
        </md-button>
    </form>
</div>
<!--  HEADER FOR RALLY POINT SEARCH-->
<div layout="row" class="july" layout-padding layout-align="center center" ng-show="vm.hide">
    <h3 style="color: white;">CHOOSE A RALLY POINT</h3>
</div>
<!-- FORM FOR RALLY POINT SEARCH -->
<div layout="row" layout-align="center" ng-show="vm.hide">
    <form layout="column" layout-gt-sm="row" flex-sm flex-xs layout-margin layout-padding layout-align="center" name="search" ng-submit="vm.searchYelp()">
        <!-- <i class="material-icons" hide-sm hide-xs>search</i> -->
        <md-input layout="row" layout-align="center" layout-padding>
            <input type="text" ng-model="vm.term" placeholder="RALLY POINT" class="input-cust" flex-xs flex-sm>
            <md-tooltip md-direction="bottom">
                "Burger, Gym, Park, Applebee's"
            </md-tooltip>
        </md-input>
        <md-input layout="row" layout-align="center" layout-padding>
            <input type="text" ng-model="vm.location" placeholder="NEAR" class="input-cust" flex-xs flex-sm>
            <md-tooltip md-direction="bottom">
                "Detroit, NYC, LA, Etc"
            </md-tooltip>
        </md-input>
        <md-button class="july md-raised" type="submit" style="color: white;">
            GO
        </md-button>
    </form>
</div>
<!-- QUERY RESULTS -->
<md-content layout="row" layout-align="center center" layout-margin layout-padding ng-show="vm.hide">
    <md-list flex flex-gt-sm="80" flex-gt-md="60">
        <md-list-item class="md-3-line" ng-repeat="p in vm.places" ng-click="vm.rallyPoint(p); vm.hide=false">
            <img ng-src="{{p.image_url}}" class="md-avatar" alt="{{p.name}}" style="border-radius: 0" />
            <div class="md-list-item-text" layout="column" layout-gt-xs="row">
                <h3 flex flex-gt-sm="33" flex-sm="20">{{ p.name | truncate: 18 }}</h3>
                <h4 flex flex-gt-sm="33">{{ p.location.city }}</h4>
                <p flex flex-gt-sm="33">{{ p.review_count }} reviews</p>
                <img src="{{ p.rating_img_url}}" alt="{{ p.rating }}" style="width: 87px; height: 17px;" style="border-radius: 0">
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</md-content>
<div layout="row" layout-margin layout-padding layout-align="center" ng-show="!vm.event.name">
    <md-progress-circular md-mode="indeterminate" ng-show="!vm.fetch" class="md-primary md-hue-2" md-diameter="100"></md-progress-circular>
    <md-button class="md-raised july" style="color: white;" flex-sm flex-xs ng-click="vm.moreYelp()" ng-show="vm.fetch && vm.places">
        MORE
    </md-button>
</div>
<!-- HEADER FOR DETAILS -->
<div layout="row" class="july" layout-padding layout-align="center center" ng-show="vm.event.name">
    <h3 style="color: white;">SEND THE DETAILS</h3>
</div>

<div layout="column" layout-align="center center" ng-show="vm.event.name" flex-xs flex-sm layout-padding layout-margin>
    <h3>Choose the date, hour, and minute. Click ok after each to set.</h3>
    <md-input-container flex-xs flex-sm layout-align="center center">
        <label>Date & Time</label>
        <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime" min-date="vm.date" short-time="true" format='MMM Do, h:mm a' ng-model="vm.event.dateTime" class=" md-input" flex-xs flex-sm>
    </md-input-container>
</div>

<div layout="row" layout-align="center" ng-show="vm.event.name" layout-padding layout-margin>
    <form layout="column" flex-sm flex-xs layout-margin layout-padding layout-align="center" name="search" ng-submit="vm.submit()">
        <!-- <i class="material-icons" hide-sm hide-xs>search</i> -->
        <md-input-container layout="row" layout-align="center center" layout-padding>
            <label>Description</label>
            <textarea ng-model="vm.event.description" md-select-on-focus flex-xs flex-sm></textarea>
            <md-tooltip md-direction="bottom">
                "SET THE AGENDA"
            </md-tooltip>
        </md-input-container>
        <md-input-container layout="row" layout-align="center" layout-padding>
            <label>Number of Guests</label>
            <md-select ng-model="vm.event.numGuests" flex-xs flex-sm>
                <md-option ng-repeat="num in vm.arr" value="{{num}}">
                    {{num}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-button class="july md-raised" type="submit" style="color: white;">
            Submit
        </md-button>
    </form>
</div>

<!-- <div layout="row" flex-gt-xs="50" flex-offset-gt-xs="25" ng-repeat="p in vm.places" layout-padding layout-margin layout-align="start center">
    <div layout="column">
        <img src="{{ p.image_url }}" alt="{{ p.name }}">
    </div>
    <div layout="column" layout-gt-md="row" layout-padding layout-margin layout-align="center center" flex flex-gt-xs="20">
        <h3 flex-gt-xs="50">{{ p.name }}</h3>
        <p flex-gt-xs="50"> {{ p.review_count }} reviews</p>
    </div>
    <div layout="row">
        <img src="{{ p.rating_img_url}}" alt="{{ p.rating }}" style="height: 17px;">
    </div>
</div> -->




<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>CREATE YOUR EVENT</h1>
            <div class="row well col-md-offset-4" style="background-color: white; width: 600px;">
                <form class="form">
                    <h4>{{vm.place.name}}</h4>
                    <input class="form-control text-center" g-places-autocomplete options="vm.autocompleteOptions" ng-model="vm.place" placeholder="FIND SOMETHING LOCAL"/>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 well text-center" ng-show="vm.place">
            <h3 ng-show="!vm.date">Select a Date and Time</h3>
            <h3>{{vm.date | date: "short"}}</h3>
            <datetimepicker data-ng-model="data.date" data-on-set-time="vm.onTimeSet(newDate)" style="margin: 0 auto;"></datetimepicker>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4" ng-show="vm.date">
            <h3 class="text-center">Event Title</h3>
            <input type="text" placeholder="Drinks at The Watering Hole" ng-model="vm.event.title" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4"ng-show='vm.event.title'>
            <h3 class="text-center">Event Description</h3>
            <input type="text" placeholder="Talk about guns, sex, and drugs" ng-model="vm.event.description" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-5" ng-show="vm.event.description">
            <h3 class="text-center">Number of Guests</h3>
            <input type="number" class='form-control' min=2 max=99 style="width: 60px; margin: 0 auto;" ng-model="vm.event.numGuests">
            <button class="btn btn-success" ng-click="vm.create()">Create</button>
        </div>
    </div>
</div> -->


<!-- <div class="container">
    <div class="row">
        <div class="h1 text-center">Create your event</div>
    </div>
    <div class="row well">
        <form class="form">
            <input class="form-control" g-places-autocomplete options="vm.autocompleteOptions" ng-model="vm.place" placeholder="FIND SOMETHING LOCAL"/>
        </form>
        <form ng-show="vm.place">
            <div class="col col-md-12 col-sm-12 col-xs-12">
                <h3>{{vm.place.name}}</h3>
                <h3>{{vm.place.formatted_address}}</h3>
            </div>
        </form>
    </div>
</div>



<div class="container">
    <div class="col col-md-6 col-md-offset-3">
        <datepicker ng-click="dates()">
            <input ng-model="vm.date" class='form-control' >
        </datepicker>
    </div>
</div> -->

<!-- <form class="form">
    <input class="form-control" g-places-autocomplete ng-model="vm.place"/>
</form>

<h3>{{vm.place.address_components[0].short_name}} {{vm.place.address_components[1].short_name}}</h3>
<h3>{{vm.place.address_components[2].short_name}} {{vm.place.address_components[3].short_name}}</h3>
<h3>{{vm.place.address_components[5].short_name}}</h3>
-->
