<md-dialog>
    <md-toolbar layout="row" class="patriotic">
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
            <md-icon md-font-set="material-icons">close</md-icon>
        </md-button>
    </md-toolbar>
    <div layout="column" layout-padding>
        <h3>What: {{vm.event.title}}</h3>
        <h3>Where: {{vm.event.name}}</h3>
        <h3>Address: {{vm.event.eventAddress}}</h3>
        <h3>Description:</h3>
        <p>{{vm.event.description}}</p>
    </div>
</md-dialog>
