<!-- Add background image that will scale -->
<div layout="column" class="home" hide-xs hide-sm>
    <div layout="row" layout-align="center center" style="height: 90%;">
        <h1  class="md-display-3" style="color: white; font-family: 'Fjalla One', sans-serif; text-align: center;">WELCOME TO VETERAN CONNECT</h1>
    </div>
    <div layout="column" layout-align="center center" layout-margin layout-padding>
        <div layout="column" layout-gt-sm="row" layout-margin layout-align="center center" flex>
            <h3  class="md-headline">Connect with fellow veterans in your area now.</h3>
            <a href="/login">
                <button class="md-button">Get Started</button>
            </a>
        </div>
        <i class="fa fa-angle-down fa-2x" style="color: white;" aria-hidden="true"></i>
    </div>
</div>
<div layout="column" class="home" hide-gt-sm>
    <div layout="row" layout-align="center center" style="height: 50%;">
        <h1 class="md-display-1" style="color: white; font-family: 'Fjalla One', sans-serif; text-align: center;">WELCOME TO VETERAN CONNECT</h1>
    </div>
    <div layout="column" layout-align="center center" layout-margin layout-padding>
        <div layout="column" layout-margin layout-align="center center" flex>
            <h3   class="md-subhead">Connect with fellow veterans in your area now.</h3>
            <a href="/login">
                <button class="md-button">Get Started</button>
            </a>
        </div>
        <i class="fa fa-angle-down fa-2x" style="color: white;" aria-hidden="true"></i>
    </div>
</div>
<!-- How it works-->
<div layout="row" layout-align="center center" layout-margin layout-padding>
    <h3 class="md-display-2">HOW IT WORKS</h3>
</div>
<div layout="column" layout-gt-sm="row" layout-align="center center" layout-margin layout-padding flex>
    <span flex></span>
    <div layout=column layout-align="center center" flex-gt-sm="15">
        <h3 class="md-margin md-padding">Browse</h3>
        <p>Browse events created by other veterans based on your location. Each event will tell you how many people are invited, the branch of service of the event creator, and the location. Search from 5 to 50 mile radius.
        </p>
        <md-divider></md-divider>
    </div>
    <div layout=column layout-align="center center" flex-gt-sm="15">
        <h3 class="md-margin md-padding">Create</h3>
        <p>Create your events and meet local veterans interested in what you want to do. Whether you're looking to organize a large event, or gather a small group to hang out, VETERAN CONNECT is your platform.
        </p>
        <md-divider></md-divider>
    </div>
    <div layout=column layout-align="center center" flex-gt-sm="15">
        <h3 class="md-margin md-padding">Attend</h3>
        <p>Found an event you're interested in? If there are open slots left, join in and chat with other veterans attending. Back out of the event if you're no longer interested, opening the spot for another veteran.</p>
    </div>
    <span flex></span>
</div>
<!-- Tutorial -->
<div class="stars" style="color: white;">
    <div style="height: 50px;"></div>
    <div layout="column" layout-gt-sm="row" layout-align="center" layout-margin>
        <div layout="column" flex-gt-sm="50" layout-align="start center" >
            <img src="images/browse.jpg" alt="browse.jpg" style="max-width: 100%; height: auto;">
        </div>
        <div layout="column" flex-gt-sm="50">
            <div layout-margin>
                <h3 class="md-headline">SET THE RADIUS</h3>
                <h3 class="md-subhead">Slide the radius tool to select a search radius from 5 to 50 miles.</h3>
            </div>
            <div layout-margin>
                <h3 class="md-headline">Event Card</h3>
                <h3 class="md-subhead">Each event card contains information about the event. Click more info for full address and to see who else is going.</h3>
            </div>
            <div layout-margin>
                <h3 class="md-headline">Go</h3>
                <h3 class="md-subhead">Click go to attend the event. You'll be able to find and manage your events in the app menu.</h3>
            </div>
        </div>
    </div>
    <div style="height: 50px;"></div>
    <div layout="column" layout-gt-sm="row" layout-align="center" layout-margin>
        <div layout="column" flex-gt-sm="50" layout-align="start center" >
            <img src="images/create.jpg" alt="create.jpg" style="max-width: 100%; height: auto;">
        </div>
        <div layout="column" flex-gt-sm="50">
            <div layout-margin>
                <h3 class="md-headline">Where to Meet?</h3>
                <h3 class="md-subhead">Choose the rally point where either the event is taking place, or where everybody will meet.</h3>
                <h3 class="md-subhead">You can search for actual places like 'The Oakland Bar', or terms like "food, rock climbing, parks".</h3>
            </div>
            <div layout-margin>
                <h3 class="md-headline">Create the Event</h3>
                <h3 class="md-subhead">Decide on what to do, and set the number of people you want to show up.</h3>
            </div>
        </div>
    </div>
    <div style="height: 50px;"></div>
    <div layout="column" layout-gt-sm="row" layout-align="center" layout-margin>
        <div layout="column" flex-gt-sm="50" layout-align="start center" layout-margin>
            <img src="images/myevents.jpg" alt="myevents.jpg" style="max-width: 100%; height: auto;">
            <img src="images/attending.jpg" alt="attending.jpg" style="max-width: 100%; height: auto;">
        </div>
        <div layout="column" flex-gt-sm="50">
            <div layout-margin>
                <h3 class="md-headline">Manage your Events</h3>
                <h3 class="md-subhead">On your events page, you can edit or cancel your events at any time.</h3>
                <h3 class="md-subhead">Can't make it an event you're attending? Back out of it by hitting the "X" button. This opens up your spot for another veteran. Sort of like VA appointments. Oh how I love those.</h3>
                <h3 class="md-subhead">Click any of these events to go the event page.</h3>
            </div>
        </div>
    </div>
    <div style="height: 50px;"></div>
    <div layout="column" layout-gt-sm="row" layout-align="center" layout-margin>
        <div layout="column" flex-gt-sm="50" layout-align="start center" layout-margin>
            <img src="images/event.jpg" alt="event.jpg" style="max-width: 100%; height: auto;">
        </div>
        <div layout="column" flex-gt-sm="50">
            <div layout-margin>
                <h3 class="md-headline">Interact</h3>
                <h3 class="md-subhead">On the event page, you'll see all available information for the event.</h3>
                <h3 class="md-subhead">Get to know the other veterans in your area that are attending in the comments section.</h3>
            </div>
        </div>
    </div>
    <div style="height: 50px;"></div>
    <div flex-offset-gt-sm="20" layout-margin layout-padding>
        <h3 class="md-body-1">VETERAN CONNECT is currently in testing. This is the initial release, and not a production release. We are working on service verficiation for our next release. Any accounts made during testing will have to be verified at that time. VETERAN CONNECT is made for veterans, by a veteran, because 'murica.</h3>
    </div>
</div>
