<div layout="row" layout-margin layout-padding layout-align="center center" hide-xs>
    <md-list flex flex-gt-sm="60">
        <md-subheader class="md-no-sticky">MY EVENTS</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="e in vm.events">
            <div class="md-list-item-text" layout="column" layout-gt-sm="row" layout-padding layout-margin class="md-ripple" ng-click="vm.go(e)">
                <h3 flex>{{ e.title | truncate: "20" }}</h3>
                <h4 flex> @ {{ e.name | truncate: "40" }}</h4>
                <h4 flex>{{ e.dateTime | date: 'MMM d,  h:mm a' }}</h4>
            </div>
            <div layout="column" layout-gt-xs="row">
                <a ui-sref="Update Event({id: e._id})">
                    <md-button aria-label="Twitter" class="md-fab md-mini md-raised" >
                        <md-icon md-font-set="material-icons" style="color: #666;"> mode_edit </md-icon>
                        <md-tooltip md-direction="bottom">
                            Edit Event
                        </md-tooltip>
                    </md-button>
                </a>
                <md-button aria-label="Facebook" class="md-fab md-mini md-raised" ng-click="vm.removeEvent(e)">
                    <md-icon md-font-set="material-icons"  style="color: #B5191D;"> delete_forever </md-icon>
                    <md-tooltip md-direction="bottom">
                        Cancel Event
                    </md-tooltip>
                </md-button>
            </div>
                <md-divider></md-divider>
        </md-list-item>
</div>
<div layout="row" layout-margin layout-padding layout-align="center center" hide-gt-xs>
    <md-list flex flex-gt-sm="60">
        <md-subheader class="md-no-sticky">MY EVENTS</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="e in vm.events">
            <div class="md-list-item-text" layout="column" layout-gt-sm="row" layout-padding layout-margin class="md-ripple" ng-click="vm.go(e)">
                <h3 flex>{{ e.title | truncate: "20" }}</h3>
                <h4 flex> @ {{ e.name | truncate: "25" }}</h4>
                <h4 flex>{{ e.dateTime | date: 'MMM d,  h:mm a' }}</h4>
            </div>
            <div layout="column" layout-gt-xs="row">
                <a ui-sref="Update Event({id: e._id})">
                    <md-button aria-label="Twitter" class="md-fab md-mini md-raised" >
                        <md-icon md-font-set="material-icons" style="color: #666;"> mode_edit </md-icon>
                        <md-tooltip md-direction="bottom">
                            Edit Event
                        </md-tooltip>
                    </md-button>
                </a>
                <md-button aria-label="Facebook" class="md-fab md-mini md-raised" ng-click="vm.removeEvent(e)">
                    <md-icon md-font-set="material-icons"  style="color: #B5191D;"> delete_forever </md-icon>
                    <md-tooltip md-direction="bottom">
                        Cancel Event
                    </md-tooltip>
                </md-button>
            </div>
                <md-divider></md-divider>
        </md-list-item>
</div>
<div layout="row" layout-fill layout-align="center center" ng-show="vm.isLoading">
    <md-progress-circular md-mode="indeterminate" ng-show="vm.isLoading" class="md-primary md-hue-2" md-diameter="100"></md-progress-circular>
</div>
