<div class="container-fluid">
    <form name="outerForm" class="tab-form-demo">
        <uib-tabset active="activeForm">
            <uib-tab index="0" heading="How To">
                <h3 class='text-center'>Pick the tabs you wish to edit. <br> Click Submit when you have made all changes</h3>
            </uib-tab>
            <uib-tab index="1" heading="Update Location">
                <div class="col-md-12 text-center" style="margin: 20px 0;">
                    <div class="row well col-md-offset-4" style="background-color: white; width: 600px;">
                        <h3 class="text-center">{{vm.event.name}}</h3>
                        <form class="form">
                            <input class="form-control text-center" g-places-autocomplete options="vm.autocompleteOptions" ng-model="vm.place" placeholder="FIND SOMETHING LOCAL" />
                        </form>
                    </div>
                </div>
                <div class="row text-center">
                    <button class="btn btn-success" ng-show"!show" ng-click="vm.locChange()">Update</button>
                </div>
            </uib-tab>
            <uib-tab index="2" heading="Update Time">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 well text-center">
                        <h3 ng-show="!vm.date">Select a Date and Time</h3>
                        <h3>{{vm.event.dateTime | date: "short"}}</h3>
                        <datetimepicker data-ng-model="data.date" data-on-set-time="vm.onTimeSet(newDate)" style="margin: 0 auto;"></datetimepicker>
                    </div>
                </div>
                <div class="row text-center">
                    <button class="btn btn-success" ng-show"!show" ng-click="vm.timeChange()">Update</button>
                </div>
            </uib-tab>
            <uib-tab index="3" heading="Update Description and Number of Guests">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <h3 class="text-center">Event Title</h3>
                        <input type="text" placeholder="Drinks at The Watering Hole" ng-model="vm.event.title" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <h3 class="text-center">Event Description</h3>
                        <input type="text" placeholder="Talk about guns, sex, and drugs" ng-model="vm.event.description" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-5">
                        <h3 class="text-center">Number of Guests</h3>
                        <input type="number" class='form-control' min=2 max=99 style="width: 60px; margin: 0 auto;" ng-model="vm.event.numGuests">
                    </div>
                </div>
                <div class="row text-center">
                    <button class="btn btn-success" ng-click="vm.update()">Update</button>
                </div>
            </uib-tab>
        </uib-tabset>
    </form>
    <div class="row text-center">
        <button class="btn btn-info" ng-show="vm.show" ng-click="vm.update()">Submit</button>
    </div>
